@charset "utf-8";
@import '../../style/themes/_default.scss';


.#{$prefix}-message{
    box-shadow:0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
    min-width:300px;
    padding:10px 12px;
    box-sizing:border-box;
    border-radius:2px;
    position:fixed;
    left:50%;
    top:20px;
    transform:translateX(-50%);
    background-color:#fff;
    transition:opacity .3s,transform .4s;
    overflow:hidden
  }
  .#{$prefix}-message .#{$prefix}-icon-circle-check{
    color:#13ce66
  }
  .#{$prefix}-message .#{$prefix}-icon-circle-cross{color:#ff4949}
  .#{$prefix}-message .#{$prefix}-icon-information{color:#50bfff}
  .#{$prefix}-message .#{$prefix}-icon-warning{color:#f7ba2a}
  .#{$prefix}-message-group{
    position:relative
  }
  .#{$prefix}-message-group.#{$prefix}-message-info{}
  .#{$prefix}-message-group.#{$prefix}-message-success{}

  .#{$prefix}-message-group.#{$prefix}-message-warning{}
  .#{$prefix}-message-group.#{$prefix}-message-error{}
  .#{$prefix}-message-group .#{$prefix}-icon.#{$prefix}-icon-check-circle{
    font-size: 16px
  }

  .#{$prefix}-message-group.#{$prefix}-message-info .#{$prefix}-icon.#{$prefix}-icon-check-circle:before{
    color: #108ee9;
    content: '\E628';
  }
  .#{$prefix}-message-group.#{$prefix}-message-success .#{$prefix}-icon.#{$prefix}-icon-check-circle:before{
    color:#87d068;
    content: '\E630';
  }

  .#{$prefix}-message-group.#{$prefix}-message-warning .#{$prefix}-icon.#{$prefix}-icon-check-circle:before{
    color: #fa0;
    content: '\E62C';
  }
  .#{$prefix}-message-group.#{$prefix}-message-error .#{$prefix}-icon.#{$prefix}-icon-check-circle:before{
    color: #f50;
    content: '\E62E';
  }


  .#{$prefix}-message-group p{
      font-size:14px;
      line-height:20px;
      margin:0 00 0;
      // white-space:nowrap;
      // color:#8492a6;
      text-align:justify
    }
    .#{$prefix}-message-icon{
      width:20px;
      height:20px;
      border-radius:10px;
      vertical-align: middle;
      margin-right: 10px;
      // position:absolute;
      // left:10px;
      // top:10px
    }
    .#{$prefix}-message-closeBtn{
      top:3px;
      right:0;
      position:absolute;
      cursor:pointer;
      color:#c0ccda;
      font-size:14px
    }
    .#{$prefix}-message-closeBtn:hover{
      color:#99a9bf
    }
    .#{$prefix}-message-fade-enter,
    .#{$prefix}-message-fade-leave-active{
      opacity:0;
      transform:translate(-50%,-100%)}
    .#{$prefix}-button{
      display:inline-block;
      line-height:1;
      white-space:nowrap;
      cursor:pointer;
      background:#fff;
      border:1px solid #c0ccda;
      color:#1f2d3d;
      -webkit-appearance:none;
      text-align:center;
      box-sizing:border-box;
      outline:none;
      margin:0;
      -moz-user-select:none;
      -webkit-user-select:none;
      -ms-user-select:none;
      padding:10px 15px;
      font-size:14px;
      border-radius:4px
    }