@import "../../style/mixins/index";

@keyframes loadingCircle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}

// $grid-columns: 24;
// $grid-gutter-width: 0;
// $prefix: 'mmm-ooo';
// mixins for grid system
// ------------------------
@mixin make-row($gutter: $grid-gutter-width) {
  position: relative;
  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
  height: auto;
  @include clearfix();
}

@mixin col-item ($index){
  $item: '.#{$prefix}-col-#{$index}, .#{$prefix}-col-xs-#{$index}, .#{$prefix}-col-sm-#{$index}, .#{$prefix}-col-md-#{$index}, .#{$prefix}-col-lg-#{$index}';
  @each $i in $item {
    #{$i} {
      padding-left:  ($grid-gutter-width / 2);
      padding-right: ($grid-gutter-width / 2);
    }
  }
}
@mixin make-grid-columns() {
  @for $i from 1 through $grid-columns {
    @include col-item($i)
  }  
}

@mixin float-grid-columns($class) {
  @for $i from 1 through $grid-columns {
    $item: ".#{$prefix}-col#{$class}-#{$i}";
    #{$item} {
      float: left;
      flex: 0 0 auto;
    }
  }
}
//when (@index > 0)
@mixin loop-grid-columns($class) {
  @for $i from $grid-columns through 0 {
    @if $i > 0 {
      .#{$prefix}-col#{$class}-#{$i} {
        display: block;
        width: percentage(($i / $grid-columns));
      }
      .#{$prefix}-col#{$class}-push-#{$i} {
        left: percentage(($i / $grid-columns));
      }
      .#{$prefix}-col#{$class}-pull-#{$i} {
        right: percentage(($i / $grid-columns));
      }
      .#{$prefix}-col#{$class}-offset-#{$i} {
        margin-left: percentage(($i / $grid-columns));
      }
      .#{$prefix}-col#{$class}-order-#{$i} {
        order: $i;
      }
    } @else {
      .#{$prefix}-col#{$class}-#{$i} {
        display: none;
      }
      .#{$prefix}-col-push-#{$i} {
        left: auto;
      }
      .#{$prefix}-col-pull-#{$i} {
        right: auto;
      }
    }
  }
}
@mixin make-grid($class: '') {
  @include float-grid-columns($class);
  @include loop-grid-columns($class);
}
@include make-grid();