
@charset "utf-8";
@import 'static/style/themes/_default.scss';
@import 'static/style/mixins/_index.scss';
@import "../../button/style/_mixin.scss";

@import "./_mixin.scss";

.#{$prefix}-search-input-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.#{$prefix}-search-input {
  &.#{$prefix}-input-group .#{$prefix}-input:first-child,
  &.#{$prefix}-input-group .#{$prefix}-select:first-child {
    border-radius: $border-radius-base;
    position: absolute;
    top: -1px;
    width: 100%;
  }

  &.#{$prefix}-input-group .#{$prefix}-input:first-child {
    padding-right: 36px;
  }

  .#{$prefix}-search-btn {
    @include btn-default;
    border-radius: 0 $border-radius-base - 1 $border-radius-base - 1 0;
    left: -1px;
    position: relative;
    border-width: 0 0 0 1px;
    z-index: 2;
    padding-left: 8px;
    padding-right: 8px;
    &:hover {
      border-color: $border-color-base;
    }
    form & {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
  &#{&}-focus .#{$prefix}-search-btn-noempty,
  &:hover .#{$prefix}-search-btn-noempty {
    @include btn-primary;
  }
  .#{$prefix}-select-combobox {
    .#{$prefix}-select-selection__rendered {
      right: 29px;
    }
  }
}
