@charset "utf-8";
@import './_select.scss';
@import '../../input/style/_index.scss';

/* select */

.select-slide-enter-active {
  animation: select-slide-in .5s;
}
.select-slide-leave-active {
  animation: select-slide-out .5s;
}
@keyframes select-slide-in {
  0% {
    opacity: 0;transform-origin: 0% 0%;
    transform:  scaleY(.8);;
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);;
  }
}
@keyframes select-slide-out {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(.8);;
  }
}